/* || General styles */

* {
    box-sizing: border-box;
    margin: 0px;
}

#app {
    display: grid;
    grid-template-rows: auto;
    row-gap: 80px;
    margin: 0px;
}

/* || Header & Navigation*/

header {
    grid-row: 1;
    box-shadow: 0px 6px 10px #00000019;
}

nav {
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

#hiofNav {
    font-family: "Lalezar", cursive;
}

#userNav {
    float: right;
    font-family: "Source Sans Pro", sans-serif;
}

/* || Main*/

main {
    grid-row: 2;
    display: grid;
    grid-template-rows: 2.4fr auto auto;
    row-gap: 60px;
    margin-left: 20%;
    margin-right: 20%;
    font-family: "Nunito", sans-serif;
}

/* || Todo button*/

#addTodoBtn {
    grid-row: 1;
    border: 1px solid black;
    background-color: white;
    text-decoration: none;
    cursor: pointer;
    height: 55px;
    max-width: 210px;
    font-size: 1.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#addTodoBtn:hover {
    background-color: #48d3c3;
}

.plus::after {
    content: "+";
    font-size: 1.5em;
}

/* || Todo list*/

#todoList {
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    list-style-type: none;
    padding: 0;
}

/* || Individual Todo item*/

#todos {
    min-height: 212px;
}

.todoItem {
    height: 180px;
    padding: 20px;
    box-shadow: 0px 8px 16px #5dd3d829;
    max-width: 354px;
}

.todoItem p {
    font-size: 15px;
    line-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-wrap: break-word;
}

.todoItem h3 {
    padding: 0;
    margin: 0;
    font-weight: 900;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-wrap: break-word;
}

/* || Individual Todo item buttons*/

.todoBtn {
    float: right;
    display: flex;
}

.todoBtn button {
    border: 1px;
    background-color: #f43940;
    text-decoration: none;
    color: white;
    cursor: pointer;
    max-width: 200px;
    width: 80px;
    font-size: 11px;
    font-weight: bold;
    padding: 5px 15px 5px 15px;
    border-radius: 6px;
    margin-top: 50px;
}

.todoBtn button:nth-of-type(2) {
    background-color: #48d3c3;
    margin-left: 5px;
}

/* || Completed Todos table & checkbox*/

#completedTodos {
    grid-row: 3;
}

#completedTodos h2 {
    font-size: 18px;
    font-weight: 900;
}

#filterCheckbox {
    float: right;
    color: grey;
    margin-bottom: 10px;
    margin-right: 2.2%;
    margin-top: 20px;
}

#filterCheckbox input {
    margin-right: 9px;
}

#completedTodosTable {
    width: 100%;
    text-align: left;
    border-spacing: 0;
}

#todos #todoList p {
    color: #b3b3b3;
}

/* || Completed Todos search field*/

#search .searchField {
    height: 30px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #b6b6b6;
    border-radius: 5px;
}

/* || Completed Todos table headers*/

#headers {
    font-weight: 700;
    font-size: 15px;
    background-color: #e6e6e6;
    padding-top: 10px;
}

#headers th {
    padding-top: 5px;
    padding-bottom: 5px;
}

#titleHeader {
    padding-left: 3%;
    width: 15%;
    max-width: 652.5px;
}

#authorHeader {
    width: 20%;
}

#descHeader {
    width: 40%;
}

#dateHeader {
    width: 10.5%;
}

/* || Completed Todos table content*/

#completedTodosTable tr td {
    color: #8b8b8b;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid #f2f3f4;
    border-width: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-wrap: break-word;
    max-width: 150px;
}

#completedTodosTable tr td:nth-last-of-type(4) {
    padding-left: 3%;
}

#completedTodosTable tr td:nth-last-of-type(1) {
    padding-right: 5%;
}

/* || Todo popup*/

.popup {
    font-family: "Nunito", sans-serif;
}

.popup .content #popupHeader {
    display: grid;
    justify-items: right;
    grid-template-columns: 1fr 1fr;
    border-bottom: solid #f6f6f6;
    border-width: 1.5px;
}

.popup .content h2 {
    padding: 0;
    margin: 0;
    font-size: 14px;
    width: 100%;
    padding: 10px 10px 10px 20px;
}

.popup .closeBtn {
    cursor: pointer;
    text-align: center;
    color: #b6b6b6;
    font-size: 16px;
    padding: 7px 20px 10px 10px;
}

.popup .content {
    font-family: "Nunito", sans-serif;
    position: absolute;
    height: 370px;
    width: 320px;
    border-radius: 8px;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%) scale(0);
    background-color: white;
    box-shadow: 0px 1px 8px #00000029;
    background: #ffffff 0% 0% no-repeat padding-box;
}

.popup.active .content {
    transition: all 200ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.popup .filter {
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(155, 155, 155, 0.774);
    z-index: 1;
}

.popup.active .filter {
    display: block;
}

.content form {
    display: grid;
    padding-left: 25px;
    padding-right: 25px;
}

.content form label {
    font-size: 12px;
    font-weight: 900;
    margin-top: 20px;
}

.content form #submitBtn {
    margin-top: 20px;
    height: 35px;
    border: 0;
    cursor: pointer;
    color: white;
    background-color: #56d4c2;
}

.content form input {
    height: 40px;
    font-size: 16px;
    border: 1px solid #b6b6b6;
    border-radius: 5px;
}

.content form div {
    display: block;
}

#charCount {
    color: #b3b3b3;
    font-weight: 600;
}
